{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <a href="{% url 'home' %}"><h1>Courses</h1> </a><h2>This Course: {{ course.name }}</h2>
        {% for chapter in chapters %}
        <ul class="list-group">
        <a class="list-group-item" href="{% url 'videos' course_id=course.id chapter_id=chapter.id %}">{{ chapter.name }}</a>
        </ul>
        {% endfor %}
        {% if form %}
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Add a new Chapter</button>
        </form>
        {% endif %}
    </div>
{% endblock %}