{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        {% for course in courses %}
        <ul class="list-group">
        <a class="list-group-item" href="/course/{{ course.id }}">{{ course.name }}</a>
        </ul>
        {% endfor %}
        {% if form %}
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Add a new course</button>
        </form>
        {% endif %}
    </div>
{% endblock %}