{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
        </form>
        Already have an account? <a href="{%url 'login' %}"><strong>Login here</strong></a>!
    </div>
{% endblock %}